.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@font-face {
  font-family: "Museo Sans Cyrl -500";
  src: url("../fonts/MuseoSansCyrl-500.eot");
  src: local("MuseoSansCyrl-500"), url("../fonts/MuseoSansCyrl-500.eot?#iefix") format("embedded-opentype"),
    url("../fonts/MuseoSansCyrl-500.woff") format("woff"), url("../fonts/MuseoSansCyrl-500.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Museo Sans Cyrl -900";
  src: url("../fonts/MuseoSansCyrl-900.eot");
  src: local("MuseoSansCyrl-900"), url("../fonts/MuseoSansCyrl-900.eot?#iefix") format("embedded-opentype"),
    url("../fonts/MuseoSansCyrl-900.woff") format("woff"), url("../fonts/MuseoSansCyrl-900.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Museo Sans Cyrl -700";
  src: url("../fonts/MuseoSansCyrl-700.eot");
  src: local("MuseoSansCyrl-700"), url("../fonts/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"),
    url("../fonts/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Museo Sans Cyrl -300";
  src: url("../fonts/MuseoSansCyrl-300.eot");
  src: local("MuseoSansCyrl-300"), url("../fonts/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"),
    url("../fonts/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Museo Sans Cyrl -100";
  src: url("../fonts/MuseoSansCyrl-100.eot");
  src: local("MuseoSansCyrl-100"), url("../fonts/MuseoSansCyrl-100.eot?#iefix") format("embedded-opentype"),
    url("../fonts/MuseoSansCyrl-100.woff") format("woff"), url("../fonts/MuseoSansCyrl-100.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

body {
  background: #ffffff;
  font-family: "Museo Sans Cyrl -500", Helvetica, Arial, sans-serif;
  color: #1b1a19;
}

.d-top {
  display: block;
  position: relative;
  width: 100%;
  /* background: url("../images/top_bg.jpg") no-repeat center center;
  background-size: cover; */
  overflow: hidden;
  background-color: #000000;
  z-index: 0;
  &__content {
    display: block;
    width: 100%;
    min-height: 100vh;
    border-left: 1px solid #353535;
    border-right: 1px solid #353535;
    &:before {
      display: block;
      position: absolute;
      content: "";
      top: 0;
      left: -70px;
      width: 408px;
      height: 100%;
      background: url("../images/top_bg_left.png") no-repeat 0 0;
      background-size: auto 100%;
      z-index: 1;
    }
    &:after {
      display: block;
      position: absolute;
      content: "";
      top: 0;
      right: -70px;
      width: 408px;
      height: 100%;
      background: url("../images/top_bg_right.png") no-repeat 0 0;
      background-size: auto 100%;
      z-index: 1;
    }
  }
  &__cards {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: -58px;
    &:before {
      display: block;
      position: absolute;
      content: "";
      left: 220px;
      top: 0;
      width: 1px;
      height: 100%;
      background: #353535;
    }
  }
  .swiper-pagination-bullet {
    width: 50px;
    height: 4px;
    margin: 0 12px !important;
    border-radius: 0;
    background: #353535;
    opacity: 1;
  }
  .swiper-pagination-bullet-active {
    background: #f5f405;
  }
  .swiper-container-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    width: auto;
    left: 300px;
    bottom: 50px;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    .row {
      position: initial;
    }
    .col-xl-7 {
      position: initial;
    }
    &__content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      height: calc(100vh - 77px);
      padding: 185px 40px 140px 40px;
      overflow-y: auto;
      border-right: 1px solid #353535;
      background-color: rgba(27, 26, 25, 0.6);
    }
    &__title {
      display: block;
      max-height: 150px;
      overflow: hidden;
      margin: 0;
      color: #ffffff;
      font-family: "Museo Sans Cyrl -700";
      font-size: 42px;
      font-weight: 400;
      text-transform: uppercase;
      b,
      strong {
        color: #f5f405;
        font-family: "Museo Sans Cyrl -700";
      }
    }
    &__text {
      display: block;
      max-height: 90px;
      overflow: hidden;
      margin: 20px 0 0 0;
      color: #ffffff;
      font-family: "Museo Sans Cyrl -300";
      font-size: 20px;
      font-weight: 400;
    }
    &__button {
      display: inline-flex;
      align-items: center;
      position: absolute;
      right: 0;
      bottom: 0;
      padding: 25px 0 25px 95px;
      background-color: #f5f405;
      color: #1b1a19;
      font-family: "Museo Sans Cyrl -300";
      font-size: 20px;
      font-weight: 400;
      &-arrow {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 70px;
        margin-left: 95px;
        background-color: #1b1a19;
        transition: all 0.2s ease-out;
        img,
        svg {
          max-width: 45px;
          max-height: 45px;
          transition: all 0.2s ease-out;
        }
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        margin-right: 35px;
        .d-top-card__button-arrow {
          margin-right: -35px;
        }
        background-color: #f5f405;
        color: #1b1a19;
        text-decoration: none;
      }
    }
  }
  &__numbers {
    display: block;
    position: absolute;
    bottom: 50px;
    left: 40px;
    color: #353535;
    font-family: "Museo Sans Cyrl -100";
    font-size: 20px;
    font-weight: 400;
    z-index: 3;
    transition: all 0.2s ease-out;
    b,
    strong {
      color: #f5f405;
      font-family: "Museo Sans Cyrl -100";
      font-size: 30px;
      font-weight: 400;
      transition: all 0.2s ease-out;
    }
  }
}

#myVideo {
  display: block;
  position: absolute;
  left: -10%;
  top: 0;
  width: 120%;
  height: 120%;
  z-index: -1;
}

.d-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 14px 25px;
  border-bottom: 1px solid #353535;
  background-color: rgba(27, 26, 25, 0.7);
  z-index: 6;
  &__wrap {
    display: block;
    position: relative;
    width: 100%;
    background-color: #1b1a19;
    .d-header {
      border-left: 1px solid #353535;
      border-right: 1px solid #353535;
    }
    .d-nav {
      position: relative;
      border-left: 1px solid #353535;
      border-right: 1px solid #353535;
      &:before {
        display: block;
        position: absolute;
        content: "";
        top: 0;
        left: 222px;
        width: 1px;
        height: 100%;
        background: #353535;
      }
    }
  }
  &__logo {
    display: inline-block;
    margin: 0 50px 0 0;
    img,
    svg {
      display: block;
      max-width: 185px;
      transition: all 0.2s ease-out;
    }
    &-text {
      display: block;
      margin: 0;
      color: #ffffff;
      font-family: "Museo Sans Cyrl -100";
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 1.8px;
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      .d-header__logo-text {
        color: #f5f405;
      }
      color: #f5f405;
      text-decoration: none;
    }
  }
  &__info {
    display: inline-block;
    margin: 0;
    color: #ffffff;
    font-family: "Museo Sans Cyrl -100";
    font-size: 14px;
    font-weight: 400;
    sup {
      font-size: 9px;
    }
  }
  &__link {
    display: inline-block;
    margin: 0;
    color: #ffffff;
    font-family: "Museo Sans Cyrl -100";
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #f5f405;
      text-decoration: none;
    }
  }
  &__phone {
    display: inline-block;
    margin: 0;
    color: #ffffff;
    font-family: "Museo Sans Cyrl -100";
    font-size: 20px;
    font-weight: 400;
    b,
    strong {
      font-family: "Museo Sans Cyrl -700";
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #f5f405;
      text-decoration: none;
    }
  }
  &__call {
    display: inline-block;
    margin: 0;
    color: #f5f405;
    font-family: "Museo Sans Cyrl -100";
    font-size: 14px;
    font-weight: 400;
    text-decoration-color: #151314;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover {
      color: #f5f405;
      text-decoration: none;
    }
  }
}

.d-nav {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 14px 24px;
  z-index: 3;
  &__toggle {
    display: inline-block;
    position: relative;
    margin: 0;
    &-this {
      display: inline-flex;
      align-items: center;
      position: relative;
      z-index: 5;
      img,
      svg {
        max-width: 16px;
        max-height: 16px;
        margin-right: 10px;
      }
      color: #ffffff;
      font-family: "Museo Sans Cyrl -100";
      font-size: 20px;
      font-weight: 400;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: #f5f405;
        text-decoration: none;
      }
    }
  }
  &__drop {
    display: none;
    position: absolute;
    top: -14px;
    left: -24px;
    width: 224px;
    margin: 0;
    padding: 70px 24px 20px 24px;
    overflow: hidden;
    list-style: none;
    background-color: #302f2d;
    z-index: 4;
    li {
      display: block;
      a {
        display: block;
        position: relative;
        margin: 0 0 18px 0;
        color: #9a9a9a;
        font-family: "Museo Sans Cyrl -100";
        font-size: 16px;
        font-weight: 400;
        &:before {
          display: block;
          position: absolute;
          content: "";
          top: 50%;
          left: -50px;
          width: 15px;
          height: 2px;
          background: #f5f405;
          transition: all 0.2s ease-out;
        }
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          color: #ffffff;
          text-decoration: none;
          &:before {
            left: -24px;
          }
        }
      }
    }
  }
  &__menu {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 3;
    & > li {
      display: inline-block;
      position: relative;
      & > a {
        display: inline-block;
        position: relative;
        margin: 0 0 0 40px;
        padding: 4px 0 0 0;
        border-bottom: 2px solid transparent;
        color: #ffffff;
        font-family: "Museo Sans Cyrl -100";
        font-size: 16px;
        font-weight: 400;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          color: #f5f405;
          text-decoration: none;
        }
      }
    }
    &-dropper {
      position: relative;
      &:hover {
        & > a {
          border-color: #f5f405;
        }
        .d-nav__menu-drop {
          display: block;
        }
      }
    }
    &-drop {
      display: none;
      position: absolute;
      top: 100%;
      left: 40px;
      width: 260px;
      margin: 0;
      padding: 20px 24px;
      list-style: none;
      background-color: #222120;
      z-index: 4;
      li {
        display: block;
        a {
          display: block;
          padding: 8px 0;
          color: #9a9a9a;
          font-family: "Museo Sans Cyrl -100";
          font-size: 16px;
          font-weight: 400;
          cursor: pointer;
          text-decoration: none;
          transition: all 0.2s ease-out;
          &:hover {
            color: #f5f405;
            text-decoration: none;
          }
        }
      }
    }
  }
}

.d-what {
  display: block;
  position: relative;
  width: 100%;
  &__image {
    display: block;
    position: relative;
    width: calc(100% + ((100vw - 1170px) / 2));
    height: 100%;
    min-height: 550px;
    margin-left: calc(((100vw - 1170px) / 2) * (-1));
    background: url("../images/home_what_1.jpg") no-repeat center center;
    background-size: cover;
  }
  &__content {
    display: block;
    position: relative;
    width: 100%;
    padding: 80px 0 20px 44px;
    p {
      display: block;
      margin: 0 0 14px 0;
      color: #1b1a19;
      font-family: "Museo Sans Cyrl -300";
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }
  }
  &__title {
    display: block;
    position: relative;
    margin: 0 0 30px 0;
    color: #1b1a19;
    font-family: "Museo Sans Cyrl -300";
    font-size: 60px;
    font-weight: 400;
    text-transform: uppercase;
    &:before {
      display: block;
      position: absolute;
      content: "";
      left: 52px;
      top: 28px;
      width: 14px;
      height: 14px;
      border-radius: 999rem;
      background-color: #f5f405;
    }
  }
  &__subtitle {
    display: block;
    margin: 0 0 28px 0;
    color: #1b1a19;
    font-family: "Museo Sans Cyrl -300";
    font-size: 30px;
    font-weight: 400;
    line-height: 1.2;
  }
}

.d-ghost {
  display: block;
  position: absolute;
  top: 0;
  left: -80px;
  height: 100%;
  margin: 0;
  opacity: 0.1;
  color: #1b1a19;
  font-family: "Museo Sans Cyrl -900";
  font-size: 46px;
  font-weight: 400;
  text-transform: uppercase;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
  text-align: center;
  z-index: 1;
  &_light {
    color: #ffffff;
  }
}

.d-why {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
  &_reverse {
    .d-why__info {
      display: block;
      position: relative;
      padding: 115px 15px 20px 100px;
      background: #ffffff;
      .d-why-info b,
      .d-why-info strong {
        color: #1b1a19;
      }
      .d-why-info__text {
        color: #1b1a19;
      }
    }
    .d-why__cards {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: flex-start;
      position: absolute;
      top: 0;
      width: calc(100% + ((100vw - 1170px) / 2));
      margin-left: -15px;
      padding: 60px calc((100vw - 1170px) / 2) 0 70px;
      background: url("../images/why_bg.jpg") no-repeat center center;
      background-size: cover;
      .d-why-card {
        max-width: 360px;
      }
      .d-why-card__title {
        color: #ffffff;
      }
      .d-why-card__text {
        color: #ffffff;
      }
      .d-why-card__image {
        img,
        svg {
          filter: brightness(0) invert(1);
        }
      }
    }
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    padding: 60px 15px 0 15px;
  }
  &-card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 100%;
    max-width: 275px;
    margin: 0 0 40px 0;
    &__image {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      height: 100px;
      margin: 0 0 14px 0;
      border: 1px solid #fff600;
      border-radius: 999rem;
      background-color: transparent;
      img,
      svg {
        max-width: 50px;
        max-height: 50px;
      }
    }
    &__title {
      display: block;
      max-width: 210px;
      margin: 0 0 14px 0;
      color: #1b1a19;
      font-family: "Museo Sans Cyrl -300";
      font-size: 20px;
      font-weight: 400;
      text-transform: uppercase;
    }
    &__text {
      display: block;
      max-width: 260px;
      margin: 0;
      opacity: 0.5;
      color: #1b1a19;
      font-family: "Museo Sans Cyrl -300";
      font-size: 16px;
      font-weight: 400;
    }
  }
  &__info {
    display: block;
    position: absolute;
    width: calc(100% + ((100vw - 1170px) / 2));
    margin-left: -15px;
    padding: 115px 15px 20px 100px;
    height: 100%;
    background: url("../images/why_bg.jpg") no-repeat center center;
    background-size: cover;
  }
  &-info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 100%;
    max-width: 300px;
    margin: 0 0 110px 0;
    b,
    strong {
      display: block;
      margin: 0;
      color: #f5f405;
      font-family: "Museo Sans Cyrl -900";
      font-size: 30px;
      font-weight: 400;
      text-transform: uppercase;
      line-height: 1;
    }
    &__big {
      color: #f5f405;
      font-family: "Museo Sans Cyrl -900";
      font-size: 100px;
      font-weight: 400;
      text-transform: uppercase;
    }
    &__text {
      display: block;
      margin: 15px 0 0 0;
      color: #ffffff;
      font-family: "Museo Sans Cyrl -300";
      font-size: 20px;
      font-weight: 400;
      text-transform: uppercase;
      line-height: 1.2;
    }
  }
  &_bordered {
    position: relative;
    &:after {
      display: block;
      position: absolute;
      content: "";
      top: 0;
      right: 16px;
      width: 1px;
      height: 100%;
      background-color: #353535;
    }
  }
}

.d-home-services {
  display: block;
  position: relative;
  width: 100%;
  background-color: #181716;
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    position: relative;
    width: 100%;
  }
  &-card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 292px;
    min-height: 292px;
    margin: 0;
    padding: 20px;
    background-color: #141312;
    color: #ffffff;
    text-align: center;
    &__image {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 150px;
      height: 150px;
      img,
      svg {
        max-width: 40px;
        max-height: 40px;
      }
    }
    &__title {
      display: flex;
      align-items: center;
      max-width: 200px;
      min-height: 42px;
      margin: 0;
      font-family: "Museo Sans Cyrl -300";
      font-size: 18px;
      font-weight: 400;
    }
    &:nth-child(1) {
      background-color: #1b1a19;
    }
    &:nth-child(2) {
      background-color: #141312;
    }
    &:nth-child(3) {
      background-color: #222120;
    }
    &:nth-child(4) {
      background-color: #1b1a19;
    }
    &:nth-child(5) {
      background-color: #272625;
    }
    &:nth-child(6) {
      background-color: #1b1a19;
    }
    &:nth-child(7) {
      background-color: #141312;
    }
    &:nth-child(8) {
      background-color: #272625;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #f5f405;
      color: #1b1a19;
      text-decoration: none;
      img,
      svg {
        filter: brightness(0);
      }
    }
  }
}

.d-home-projects {
  display: block;
  position: relative;
  width: 100%;
  padding: 110px 0 40px 0;
  background: url("../images/home_projects_bg.png") no-repeat right -180px top 25px;
  &__title {
    display: inline-block;
    position: relative;
    width: auto;
    margin: 0 0 35px 0;
    padding-right: 12px;
    border-right: 3px solid #f5f405;
    color: #1b1a19;
    font-family: "Museo Sans Cyrl -300";
    font-size: 35px;
    font-weight: 400;
    text-transform: uppercase;
  }
  &__cards {
    display: block;
    width: 100%;
    max-width: 970px;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    &__content {
      display: block;
      min-height: 500px;
      padding: 30px 40px 30px 55px;
      background-color: #f7f7f7;
    }
    &__title {
      display: block;
      position: relative;
      max-height: 96px;
      margin: 0;
      color: #1b1a19;
      font-family: "Museo Sans Cyrl -300";
      font-size: 20px;
      font-weight: 400;
      &:before {
        display: block;
        position: absolute;
        content: "";
        left: -45px;
        top: 0;
        width: 18px;
        height: 100%;
        background-color: #f5f405;
      }
    }
    &__subtitle {
      display: block;
      margin: 20px 0 3px 0;
      opacity: 0.5;
      color: #1b1a19;
      font-family: "Museo Sans Cyrl -300";
      font-size: 14px;
      font-weight: 400;
    }
    &__info {
      display: block;
      height: 24px;
      overflow: hidden;
      margin: 0;
      color: #1b1a19;
      font-family: "Museo Sans Cyrl -300";
      font-size: 16px;
      font-weight: 400;
    }
    &__link {
      display: flex;
      align-items: center;
      margin: 32px 0 24px 0;
      z-index: 1;
      img,
      svg {
        max-width: 32px;
        max-height: 32px;
        margin-right: 12px;
      }
      span {
        color: #1b1a19;
        font-family: "Museo Sans Cyrl -500";
        font-size: 16px;
        font-weight: 400;
        text-decoration: underline;
        text-underline-position: under;
        line-height: 1;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        span {
          color: #1b1a19;
          text-decoration: none;
        }
        text-decoration: none;
      }
    }
    &__button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      width: 100%;
      padding: 0 0 0 26px;
      border: 1px solid #1b1a19;
      background: transparent;
      color: #1b1a19;
      font-family: "Museo Sans Cyrl -300";
      font-size: 18px;
      font-weight: 400;
      span {
        z-index: 1;
      }
      &-arrow {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        background-color: #1b1a19;
        z-index: 1;
        img,
        svg {
          max-width: 26px;
          max-height: 26px;
        }
      }
      &:after {
        display: block;
        position: absolute;
        content: "";
        right: 0;
        top: 0;
        width: 0;
        height: 100%;
        background-color: #1b1a19;
        transition: all 0.3s ease-out;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: #ffffff;
        text-decoration: none;
        &:after {
          width: 100%;
        }
      }
    }
  }
  &__preview {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(27, 26, 25, 0.8);
    opacity: 0;
    transition: all 0.2s ease-out;
    img,
    svg {
      max-width: 30px;
      max-height: 30px;
    }
  }
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 -30px;
    width: 200px;
    height: 100px;
    background-color: #f5f405;
    color: #1b1a19;
    font-family: "Museo Sans Cyrl -300";
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background-color: #fffe57;
      color: #1b1a19;
      text-decoration: none;
    }
  }
  .swiper-button-next {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    width: 200px;
    height: 200px;
    margin: 0 0 0 -30px;
    outline: none;
    background-color: #ececec;
    &:before,
    &:after {
      display: none;
    }
    img,
    svg {
      max-width: 45px;
      max-height: 45px;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  .swiper-button-prev {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    width: 200px;
    height: 200px;
    margin: 0 0 0 -30px;
    outline: none;
    background-color: #f4f4f4;
    &:before,
    &:after {
      display: none;
    }
    img,
    svg {
      max-width: 45px;
      max-height: 45px;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
  }
}

.d-gallery-top {
  display: block;
  position: relative;
  width: 100%;
  max-width: 600px;
  .swiper-slide {
    width: 100%;
    height: 330px;
    background-position: center center;
    background-size: cover;
  }
}

.d-gallery-thumbs {
  display: block;
  position: relative;
  width: 100%;
  max-width: 600px;
  .swiper-slide {
    width: 100%;
    height: 170px;
    background-position: center center;
    background-size: cover;
    &:hover {
      .d-home-projects__preview {
        opacity: 1;
      }
    }
  }
}

.d-clients {
  display: block;
  position: relative;
  padding: 70px 0 170px 0;
  &_page {
    padding-bottom: 60px;
  }
  &__title {
    display: inline-block;
    position: relative;
    width: auto;
    margin: 0 0 70px 0;
    padding-right: 12px;
    border-right: 3px solid #f5f405;
    color: #1b1a19;
    font-family: "Museo Sans Cyrl -300";
    font-size: 35px;
    font-weight: 400;
    text-transform: uppercase;
  }
  &__cards {
    display: block;
    position: relative;
    width: 100%;
  }
  &-card {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 290px;
    height: 90px;
    padding: 0 50px;
    img,
    svg {
      max-width: 100%;
      max-height: 100%;
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: inline-block;
    width: 45px;
    height: 30px;
    top: 50%;
    margin: -15px 0 0 0;
    padding: 0;
    outline: none;
    border-radius: 5px;
    &:before,
    &:after {
      display: none;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  .swiper-button-next {
    right: 0;
    background: url("../images/icon_next_dark.png") no-repeat center center;
    background-size: contain;
  }
  .swiper-button-prev {
    left: 0;
    background: url("../images/icon_prev_dark.png") no-repeat center center;
    background-size: contain;
  }
}

.d-steps {
  display: block;
  position: relative;
  padding: 0;
  background-color: #ececec;
  &__title {
    display: inline-block;
    position: relative;
    width: auto;
    margin: 0 0 36px 0;
    padding-right: 12px;
    border-right: 3px solid #f5f405;
    color: #1b1a19;
    font-family: "Museo Sans Cyrl -300";
    font-size: 35px;
    font-weight: 400;
    text-transform: uppercase;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    position: relative;
  }
  &-card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    width: 100%;
    max-width: 234px;
    min-height: 290px;
    margin: 0;
    padding: 16px 30px 24px 30px;
    background-position: center center;
    background-repeat: no-repeat;
    &:after {
      display: block;
      position: absolute;
      content: "";
      left: 100%;
      top: 50%;
      width: 0;
      height: 0;
      margin-top: -18px;
      border-top: 18px solid transparent;
      border-bottom: 18px solid transparent;
      border-left: 18px solid #ececec;
      z-index: 1;
    }
    &__number {
      display: block;
      width: 100%;
      color: #f4f4f4;
      font-family: "Museo Sans Cyrl -900";
      font-size: 50px;
      font-weight: 400;
      text-align: right;
    }
    &__title {
      display: block;
      margin: 0;
      color: #1b1a19;
      font-family: "Museo Sans Cyrl -300";
      font-size: 18px;
      font-weight: 400;
      line-height: 1.2;
    }
    &:nth-child(1) {
      background-position: left 20px top 80px;
    }
    &:nth-child(3) {
      background-position: left 20px top 80px;
    }
    &:nth-child(even) {
      background-color: #f4f4f4;
      &:after {
        border-left: 18px solid #f4f4f4;
      }
      .d-steps-card__number {
        color: #ececec;
      }
    }
  }
}

.d-try {
  display: block;
  position: relative;
  width: 100%;
  background-color: #1b1a19;
  &__image {
    display: block;
    position: relative;
    width: calc(100% + ((100vw - 1170px) / 2));
    height: 100%;
    min-height: 470px;
    margin-left: calc(((100vw - 1170px) / 2) * (-1));
    background: url("../images/home_consult_1.jpg") no-repeat center center;
    background-size: cover;
  }
  &__content {
    display: block;
    position: relative;
    padding: 65px 0 70px 40px;
  }
  &__title {
    display: block;
    margin: 0 0 18px 0;
    color: #ffffff;
    font-family: "Museo Sans Cyrl -300";
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
  }
  &__text {
    display: block;
    margin: 0 0 46px 0;
    color: #ffffff;
    font-family: "Museo Sans Cyrl -300";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }
  &__input {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 50px 0;
    &-label {
      display: block;
      position: absolute;
      left: 10px;
      bottom: 9px;
      color: #ffffff;
      font-family: "Museo Sans Cyrl -300";
      font-size: 20px;
      font-weight: 400;
      line-height: 1;
      z-index: 1;
      pointer-events: none;
      transition: all 0.2s ease-out;
    }
    input {
      display: block;
      width: 100%;
      margin: 0;
      padding: 8px 10px;
      border: 0;
      outline: none;
      border-bottom: 1px solid #ffffff;
      background: transparent;
      color: #ffffff;
      font-family: "Museo Sans Cyrl -300";
      font-size: 20px;
      font-weight: 400;
      line-height: 1;
      transition: all 0.2s ease-out;
      &:focus,
      &:valid {
        border-color: #f5f405;
        & ~ .d-try__input-label {
          bottom: 100%;
          font-size: 12px;
        }
      }
    }
  }
  &__button {
    display: block;
    width: 100%;
    padding: 21px;
    border: 0;
    outline: none;
    background-color: #f5f405;
    color: #1b1a19;
    font-family: "Museo Sans Cyrl -300";
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background-color: #fffe57;
      color: #1b1a19;
      text-decoration: none;
    }
  }
  &__info {
    display: block;
    margin: 0;
    opacity: 0.5;
    color: #ffffff;
    font-family: "Museo Sans Cyrl -300";
    font-size: 14px;
    font-weight: 400;
  }
}

.d-home-catalog {
  display: block;
  position: relative;
  padding: 100px 0;
  background: url("../images/home_catalog_bg.png") no-repeat left -300px top 15px;
  &__title {
    display: inline-block;
    position: relative;
    width: auto;
    margin: 0 0 36px 0;
    padding-right: 12px;
    border-right: 3px solid #f5f405;
    color: #1b1a19;
    font-family: "Museo Sans Cyrl -300";
    font-size: 35px;
    font-weight: 400;
    text-transform: uppercase;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    position: relative;
    width: 100%;
  }
  &_help {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    width: 100%;
    max-width: 584px;
  }
  &-card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    flex: 0 0 291px;
    height: 291px;
    overflow: hidden;
    margin: 0 1px 1px 0;
    padding: 20px;
    background-size: cover;
    background-position: center center;
    color: #ffffff;
    text-align: center;
    &__title {
      display: block;
      margin: 0;
      font-family: "Museo Sans Cyrl -300";
      font-size: 20px;
      font-weight: 400;
      line-height: 1.2;
    }
    &__button {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 0;
      right: -70px;
      width: 70px;
      height: 70px;
      background-color: #f5f405;
      transition: all 0.2s ease-out;
      img,
      svg {
        max-width: 45px;
        max-height: 45px;
      }
    }
    &_long {
      flex: 0 0 583px;
      .d-home-catalog-card__title {
        font-size: 25px;
      }
    }
    &_big {
      flex: 0 0 583px;
      height: 583px;
      .d-home-catalog-card__title {
        font-size: 30px;
      }
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #ffffff;
      text-decoration: none;
      .d-home-catalog-card__button {
        right: 0;
      }
    }
  }
}

.d-wow {
  display: block;
  position: relative;
  width: 100%;
  padding: 0;
  &_page {
    padding-top: 90px;
  }
  &__title {
    display: inline-block;
    position: relative;
    width: auto;
    margin: 0 0 84px 0;
    padding-right: 12px;
    border-right: 3px solid #f5f405;
    color: #1b1a19;
    font-family: "Museo Sans Cyrl -300";
    font-size: 35px;
    font-weight: 400;
    text-transform: uppercase;
  }
  &-info {
    display: block;
    max-width: 100%;
    margin: 0 0 80px 0;
    pointer-events: none;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: calc(100% + ((100vw - 1170px) / 2) + 20px);
    margin-left: -30px;
    padding: 115px calc(((100vw - 1200px) / 2)) 0 100px;
    height: 100%;
    background: url("../images/home_why_bg.jpg") no-repeat center center;
    background-size: cover;
  }
  &-card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 100%;
    max-width: 290px;
    margin: 0 0 85px;
    &__image {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 105px;
      height: 85px;
      img,
      svg {
        max-width: 100%;
        max-height: 100%;
      }
    }
    &__title {
      display: block;
      max-width: 170px;
      margin: 24px 0 16px 0;
      color: #ffffff;
      font-family: "Museo Sans Cyrl -300";
      font-size: 20px;
      font-weight: 400;
      text-transform: uppercase;
      line-height: 1.2;
    }
    &__text {
      display: block;
      max-width: 235px;
      margin: 0;
      color: #ffffff;
      font-family: "Museo Sans Cyrl -100";
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }
  }
}

.d-home-seo {
  display: block;
  position: relative;
  width: 100%;
  background: url("../images/home_seo_after.png") no-repeat right center;
  &__image {
    display: block;
    position: absolute;
    width: calc(100% + ((100vw - 1170px) / 2) - 30px);
    height: 100%;
    margin-left: calc(((100vw - 1170px) / 2) * (-1));
    background-position: center center;
    background-size: cover;
  }
  &__title {
    display: block;
    margin: 0 0 20px 0;
    color: #1b1a19;
    font-family: "Museo Sans Cyrl -300";
    font-size: 30px;
    font-weight: 400;
  }
  &__content {
    display: block;
    padding: 75px 0 65px 46px;
    p {
      display: block;
      margin: 0 0 16px 0;
      color: #1b1a19;
      font-family: "Museo Sans Cyrl -300";
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      display: inline-block;
      position: relative;
      width: auto;
      margin: 0 0 20px 0;
      padding-right: 12px;
      border-right: 3px solid #f5f405;
      color: #1b1a19;
      font-family: "Museo Sans Cyrl -300";
      font-weight: 400;
      text-transform: uppercase;
    }
    h1 {
      font-size: 42px;
    }
    h2 {
      font-size: 35px;
    }
    h3 {
      font-size: 26px;
    }
    h4 {
      font-size: 20px;
    }
    h5 {
      font-size: 16px;
    }
    h6 {
      font-size: 12px;
    }
    a {
      color: #838383;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;
      &:hover {
        color: #1b1a19;
        text-decoration: none;
      }
    }
    ul {
      display: block;
      margin: 15px 0 30px 0;
      padding: 0;
      list-style: none;
      li {
        display: block;
        position: relative;
        margin: 0 0 12px 0;
        padding-left: 34px;
        color: #1b1a19;
        font-family: "Museo Sans Cyrl -300";
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        &:before {
          display: block;
          position: absolute;
          content: "";
          left: 17px;
          top: 11px;
          width: 9px;
          height: 3px;
          background-color: #f5f405;
        }
      }
    }
    img {
      max-width: 100%;
      margin: 0 0 20px 0;
    }
    blockquote {
      display: block;
      position: relative;
      width: 100%;
      max-width: 870px;
      margin: 30px 0 130px 0;
      padding: 45px 60px;
      background-color: #f3f3f3;
      color: #525252;
      font-family: "Museo Sans Cyrl -100";
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
      &:before {
        display: block;
        position: absolute;
        content: "";
        top: -3px;
        left: -3px;
        width: 40px;
        height: 40px;
        background-color: #f5f405;
        z-index: -1;
      }
      &:after {
        display: block;
        position: absolute;
        content: "";
        bottom: -3px;
        right: -3px;
        width: 40px;
        height: 40px;
        background-color: #f5f405;
        z-index: -1;
      }
    }
  }
}

.d-footer {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 45px 0;
  background: #1b1a19 url("../images/icon_footer_bg.png") no-repeat right center;
  &_bordered {
    position: relative;
    padding-left: 50px;
    &:before {
      display: block;
      position: absolute;
      content: "";
      width: 1px;
      height: 300%;
      top: -100%;
      left: 0;
      background: #31302e;
    }
  }
  &_border {
    position: relative;
    &:before {
      display: block;
      position: absolute;
      content: "";
      width: 1px;
      height: 300%;
      top: -100%;
      left: -50px;
      background: #31302e;
    }
  }
  &__logo {
    display: block;
    margin: 0 0 35px 0;
    img,
    svg {
      max-width: 100%;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  &__phone {
    display: block;
    margin: 0;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    font-family: "Museo Sans Cyrl -100";
    line-height: 1;
    b,
    strong {
      font-family: "Museo Sans Cyrl -700";
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #f5f405;
      text-decoration: none;
    }
  }
  &__call {
    display: inline-block;
    margin: 0 0 47px 0;
    color: #f5f405;
    font-family: "Museo Sans Cyrl -100";
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover {
      color: #f5f405;
      text-decoration: none;
    }
  }
  &__title {
    display: block;
    margin: 0 0 25px 0;
    color: #ffffff;
    font-family: "Museo Sans Cyrl -300";
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
  }
  &__nav {
    display: block;
    margin: 0;
    padding: 0 0 20px 0;
    list-style: none;
    li {
      display: block;
      a {
        display: block;
        margin: 0 0 12px 0;
        color: #ffffff;
        font-family: "Museo Sans Cyrl -300";
        font-size: 16px;
        font-weight: 400;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          color: #f5f405;
          text-decoration: none;
        }
      }
    }
  }
  &__subnav {
    display: block;
    margin: 0;
    padding: 00;
    list-style: none;
    li {
      display: block;
      a {
        display: block;
        margin: 0 0 12px 0;
        color: rgba(255, 255, 255, 0.5);
        font-family: "Museo Sans Cyrl -100";
        font-size: 16px;
        font-weight: 400;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          color: #ffffff;
          text-decoration: none;
        }
      }
    }
  }
  &__social {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    position: relative;
    a {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 44px;
      height: 44px;
      background-color: #f5f405;
      img,
      svg {
        max-width: 20px;
        max-height: 20px;
        transition: all 0.2s ease-out;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        img,
        svg {
          transform: scale(1.2);
        }
        text-decoration: none;
      }
      &:nth-child(2) {
        opacity: 0.9;
      }
      &:nth-child(3) {
        opacity: 0.8;
      }
    }
  }
}

.d-bottom {
  display: block;
  position: relative;
  padding: 8px 0;
  background-color: #31302e;
  & > .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__policy {
    display: inline-block;
    opacity: 0.2;
    color: #ffffff;
    font-family: "Museo Sans Cyrl -100";
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 1;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__creators {
    display: inline-flex;
    align-items: center;
    position: relative;
    margin: 0;
    img,
    svg {
      max-width: 20px;
      max-height: 20px;
      margin-right: 8px;
    }
    color: rgba(255, 255, 255, 0.2);
    font-family: "Museo Sans Cyrl -100";
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover {
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__social {
    display: inline-flex;
    align-items: center;
    position: relative;
    margin: 0;
    &-title {
      display: inline-block;
      margin: 0 22px 0 0;
      color: rgba(255, 255, 255, 0.2);
      font-family: "Museo Sans Cyrl -100";
      font-size: 14px;
      font-weight: 400;
    }
  }
}

.d-modal-order {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  z-index: 100;
  .d-modal__content {
    background: #ececec;
  }
  &__close {
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 20px;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
      text-decoration: none;
    }
  }
}

.d-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  z-index: 100;

  &__centered {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.8);
  }

  &__close {
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 20px;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
      text-decoration: none;
    }
  }
  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 600px;
    padding: 45px 50px 50px 50px;
    background: #ececec url("../images/modal_bg.png") no-repeat right 20px top 85px;
    .row {
      width: calc(100% + 30px);
      margin-left: -15px;
    }
  }
  &__title {
    display: block;
    margin: 0 0 10px 0;
    color: #1b1a19;
    font-family: "Museo Sans Cyrl -300";
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
  }
  &__text {
    display: block;
    margin: 0 0 30px 0;
    color: #1b1a19;
    font-family: "Museo Sans Cyrl -300";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }
  &__input {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 30px 0;
    &-label {
      display: block;
      position: absolute;
      left: 10px;
      bottom: 9px;
      color: rgba(27, 26, 25, 0.5);
      font-family: "Museo Sans Cyrl -300";
      font-size: 20px;
      font-weight: 400;
      line-height: 1;
      z-index: 1;
      pointer-events: none;
      transition: all 0.2s ease-out;
    }
    input {
      display: block;
      width: 100%;
      margin: 0;
      padding: 8px 10px;
      border: 0;
      outline: none;
      border-bottom: 1px solid rgba(27, 26, 25, 0.5);
      background: transparent;
      color: rgba(27, 26, 25, 0.5);
      font-family: "Museo Sans Cyrl -300";
      font-size: 20px;
      font-weight: 400;
      line-height: 1;
      transition: all 0.2s ease-out;
      &:focus,
      &:valid {
        border-color: #1b1a19;
        color: #1b1a19;
        & ~ .d-modal__input-label {
          bottom: 100%;
          color: #1b1a19;
          font-size: 12px;
        }
      }
    }
  }
  &__button {
    display: block;
    width: 100%;
    padding: 21px;
    border: 0;
    outline: none;
    background-color: #f5f405;
    color: #1b1a19;
    font-family: "Museo Sans Cyrl -300";
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background-color: #fffe57;
      color: #1b1a19;
      text-decoration: none;
    }
  }
  &__info {
    display: block;
    margin: 0;
    opacity: 0.5;
    color: #1b1a19;
    font-family: "Museo Sans Cyrl -300";
    font-size: 14px;
    font-weight: 400;
  }
}

.d-breadcrumps {
  display: block;
  position: relative;
  width: 100%;
  padding: 30px 0;
  color: #1b1a19;
  font-family: "Museo Sans Cyrl -300";
  font-size: 16px;
  font-weight: 400;
  &__this {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  a {
    color: #1b1a19;
    font-family: "Museo Sans Cyrl -300";
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #f5f405;
      text-decoration: none;
    }
  }
  i {
    display: inline-block;
    margin: 0 10px;
    color: #f5f405;
  }
}

.d-page-title {
  display: inline-block;
  width: auto;
  margin: 0 0 25px 0;
  padding-right: 12px;
  border-right: 3px solid #f5f405;
  color: #1b1a19;
  font-family: "Museo Sans Cyrl -300";
  font-size: 35px;
  font-weight: 400;
  text-transform: uppercase;
}

.d-page-projects {
  display: block;
  position: relative;
  padding: 0;
  &__tags {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0 0 40px 0;
    list-style: none;
    li {
      display: inline-block;
      a {
        display: inline-block;
        margin: 0 10px 10px 0;
        padding: 10px 22px;
        border: 1px solid #d7d8da;
        background-color: #ffffff;
        color: rgba(27, 26, 25, 0.5);
        font-family: "Museo Sans Cyrl -300";
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          border-color: #1b1a19;
          color: #1b1a19;
          text-decoration: none;
        }
      }
    }
    &_active {
      a {
        border-color: #1b1a19 !important;
        color: #1b1a19 !important;
      }
    }
  }
  &__cards {
    display: block;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 570px;
    margin: 0 auto 30px auto;
    background-position: center center;
    background-size: cover;
    &__content {
      display: flex;
      align-items: flex-end;
      position: relative;
      width: 100%;
      min-height: 350px;
      margin: 0;
      padding: 30px 30px 30px 0;
      background: rgba(0, 0, 0, 0.5);
    }
    &__arrow {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 18px;
      height: 100px;
      margin-right: 20px;
      background-color: #f5f405;
      transition: all 0.2s ease-out;
      img,
      svg {
        max-width: 0;
        max-height: 45px;
        transition: all 0.2s ease-out;
      }
    }
    &__title {
      display: inline-flex;
      align-items: center;
      max-width: 265px;
      height: 96px;
      overflow: hidden;
      margin: 0 0 4px 0;
      color: #ffffff;
      font-family: "Museo Sans Cyrl -700";
      font-size: 20px;
      font-weight: 400;
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      .d-page-projects-card__arrow {
        width: 100px;
        img,
        svg {
          max-width: 45px;
        }
      }
      text-decoration: none;
    }
  }
}

.d-pagination {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 20px 0;
  list-style: none;
  &_margin {
    padding-top: 60px;
  }
  &_active {
    a {
      border-color: #f5f405 !important;
      background-color: #f5f405 !important;
    }
  }
  &_disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.5;
  }
  li {
    display: inline-block;
    a {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 40px;
      height: 40px;
      margin: 0 5px 5px 5px;
      padding: 2px;
      border: 1px solid #1b1a19;
      background-color: transparent;
      text-align: center;
      color: #1b1a19;
      font-family: "Museo Sans Cyrl -300";
      font-size: 16px;
      font-weight: 400;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        border-color: #f5f405;
        background-color: #f5f405;
        color: #1b1a19;
        text-decoration: none;
      }
    }
  }
}

.d-get {
  display: block;
  position: relative;
  width: 100%;
  padding: 70px 0 45px 0;
  background: #ececec url("../images/get_bg.png") no-repeat right calc((100vw - 1200px) / 2 + 50px) top 0;
  &_page {
    background: #ececec url("../images/contacts_bg.png") no-repeat left center;
  }
  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
  }
  &__title {
    display: block;
    margin: 0 0 10px 0;
    color: #1b1a19;
    font-family: "Museo Sans Cyrl -300";
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
  }
  &__text {
    display: block;
    max-width: 820px;
    margin: 0 0 30px 0;
    color: #1b1a19;
    font-family: "Museo Sans Cyrl -300";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }
  &__input {
    display: block;
    position: relative;
    width: 100%;
    max-width: 300px;
    margin: 10px;
    &-label {
      display: block;
      position: absolute;
      left: 10px;
      bottom: 9px;
      color: rgba(27, 26, 25, 0.5);
      font-family: "Museo Sans Cyrl -300";
      font-size: 20px;
      font-weight: 400;
      line-height: 1;
      z-index: 1;
      pointer-events: none;
      transition: all 0.2s ease-out;
    }
    input {
      display: block;
      width: 100%;
      margin: 0;
      padding: 8px 10px;
      border: 0;
      outline: none;
      border-bottom: 1px solid rgba(27, 26, 25, 0.5);
      background: transparent;
      color: rgba(27, 26, 25, 0.5);
      font-family: "Museo Sans Cyrl -300";
      font-size: 20px;
      font-weight: 400;
      line-height: 1;
      transition: all 0.2s ease-out;
      &:focus,
      &:valid {
        border-color: #1b1a19;
        color: #1b1a19;
        & ~ .d-get__input-label {
          bottom: 100%;
          color: #1b1a19;
          font-size: 12px;
        }
      }
    }
  }
  &__button {
    display: block;
    width: 100%;
    max-width: 252px;
    padding: 21px;
    border: 0;
    outline: none;
    background-color: #f5f405;
    color: #1b1a19;
    font-family: "Museo Sans Cyrl -300";
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background-color: #fffe57;
      color: #1b1a19;
      text-decoration: none;
    }
  }
  &__info {
    display: block;
    max-width: 205px;
    margin: 0;
    opacity: 0.5;
    color: #1b1a19;
    font-family: "Museo Sans Cyrl -300";
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
  }
}

.d-catalog {
  display: block;
  position: relative;
  width: 100%;
  &__bg {
    background: url("../images/aside_bg.png") repeat-y left 15px top;
    background-size: 100% auto;
  }
  &__aside {
    display: block;
    position: relative;
    width: 100%;
    max-width: 270px;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #1b1a19;
    li {
      display: block;
      a {
        display: block;
        position: relative;
        width: 100%;
        padding: 17px 20px;
        border-bottom: 1px solid #353535;
        color: #ffffff;
        font-family: "Museo Sans Cyrl -300";
        font-size: 20px;
        font-weight: 400;
        line-height: 1.2;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          background-color: #f5f405;
          color: #1b1a19;
          text-decoration: none;
        }
      }
    }
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    position: relative;
    width: calc(100% + 30px);
    margin-left: -30px;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 300px;
    margin: -1px 0 0 -1px;
    border: 1px solid #ececec;
    background-color: #ffffff;
    &__image {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 200px;
      transition: all 0.2s ease-out;
    }
    &__content {
      display: block;
      position: relative;
      overflow: hidden;
      padding: 26px 40px 30px 40px;
      background-color: #ffffff;
      transition: all 0.2s ease-out;
    }
    &__title {
      display: block;
      height: 48px;
      overflow: hidden;
      margin: 0 0 35px 0;
      color: #1b1a19;
      font-family: "Museo Sans Cyrl -300";
      font-size: 20px;
      font-weight: 400;
      text-transform: uppercase;
      transition: all 0.2s ease-out;
    }
    &__info {
      display: block;
      height: 79px;
      overflow: hidden;
      transition: all 0.2s ease-out;
    }
    &__row {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin: 0 0 8px 0;
      color: rgba(27, 26, 25, 0.5);
      font-family: "Museo Sans Cyrl -300";
      font-size: 14px;
      font-weight: 400;
    }
    &__button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      bottom: -100px;
      width: calc(100% - 80px);
      padding: 0 0 0 26px;
      border: 1px solid #1b1a19;
      background: transparent;
      color: #1b1a19;
      font-family: "Museo Sans Cyrl -300";
      font-size: 18px;
      font-weight: 400;
      span {
        z-index: 1;
      }
      &-arrow {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        background-color: #1b1a19;
        z-index: 1;
        img,
        svg {
          max-width: 26px;
          max-height: 26px;
        }
      }
      &:after {
        display: block;
        position: absolute;
        content: "";
        right: 0;
        top: 0;
        width: 0;
        height: 100%;
        background-color: #1b1a19;
        transition: all 0.3s ease-out;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: #ffffff;
        text-decoration: none;
        &:after {
          width: 100%;
        }
      }
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      border-color: #fffe57;
      text-decoration: none;
      z-index: 1;
      .d-catalog-card__content {
        background-color: #f5f405;
      }
      .d-catalog-card__info {
        opacity: 0;
      }
      .d-catalog-card__button {
        bottom: 40px;
      }
    }
  }
}

.d-about {
  display: block;
  position: relative;
  background-color: #f4f4f4;
  &__bg {
    display: block;
    position: absolute;
    width: calc(100% + ((100vw - 1170px) / 2) - 30px);
    height: 100%;
    top: 0;
    right: 15px;
    margin-left: calc(((100vw - 1170px) / 2) * (-1));
    background-position: right center;
    background-size: cover;
  }
  &__content {
    display: block;
    padding: 75px 0 95px 130px;
  }
  &__who {
    display: block;
    margin: 0 0 15px 0;
    color: #1b1a19;
    font-family: "Museo Sans Cyrl -300";
    font-size: 30px;
    font-weight: 400;
  }
  &__from {
    display: block;
    margin: 0 0 35px 0;
    opacity: 0.5;
    color: #1b1a19;
    font-family: "Museo Sans Cyrl -300";
    font-size: 16px;
    font-weight: 400;
  }
  &__text {
    display: block;
    margin: 0;
    color: #1b1a19;
    font-family: "Museo Sans Cyrl -300";
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
  }
  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 275px;
    height: 275px;
    margin-left: 190px;
    margin-top: 55px;
    border: 1px solid #fff600;
    border-radius: 999rem;
    background-color: transparent;
    z-index: 1;
    &:before {
      display: block;
      position: absolute;
      content: "";
      top: 50%;
      left: -8px;
      width: 16px;
      height: 16px;
      margin-top: -8px;
      border-radius: 999rem;
      background-color: #fff600;
    }
    img,
    svg {
      max-width: 220px;
      max-height: 220px;
      border-radius: 999rem;
    }
  }
}

.d-papers {
  display: block;
  position: relative;
  padding: 80px 0 20px 0;
  .swiper-button-next,
  .swiper-button-prev {
    display: inline-block;
    position: relative;
    width: 45px;
    height: 30px;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    margin: 0 0 0;
    padding: 0;
    outline: none;
    &:before,
    &:after {
      display: none;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  .swiper-button-next {
    margin-left: 50px;
    background: url("../images/icon_next_dark.png") no-repeat center center;
    background-size: contain;
  }
  .swiper-button-prev {
    background: url("../images/icon_prev_dark.png") no-repeat center center;
    background-size: contain;
  }
  &__title {
    display: inline-block;
    position: relative;
    width: auto;
    margin: 0 0 35px 0;
    padding-right: 12px;
    border-right: 3px solid #f5f405;
    color: #1b1a19;
    font-family: "Museo Sans Cyrl -300";
    font-size: 35px;
    font-weight: 400;
    text-transform: uppercase;
  }
  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
  }
  &__cards {
    display: block;
    position: relative;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 270px;
    &__content {
      display: flex;
      align-items: flex-end;
      position: relative;
      width: 100%;
      height: 390px;
      padding: 24px 24px 24px 0;
      background-color: rgba(27, 26, 25, 0);
      transition: all 0.2s ease-out;
    }
    &__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 18px;
      height: 100px;
      background-color: #f5f405;
      transition: all 0.2s ease-out;
      img,
      svg {
        max-width: 0;
        max-height: 40px;
        transition: all 0.2s ease-out;
      }
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      .d-papers-card__content {
        background-color: rgba(27, 26, 25, 0.7);
      }
      .d-papers-card__icon {
        width: 100px;
        img,
        svg {
          max-width: 40px;
        }
      }
      text-decoration: none;
    }
  }
}

.d-article {
  display: block;
  position: relative;
  background-position: center center;
  background-size: cover;
  &__content {
    display: block;
    position: relative;
    padding: 120px 0 0 0;
    background: rgba(0, 0, 0, 0.7);
  }
  &__title {
    display: block;
    max-width: 820px;
    margin: 0 0 30px 0;
    color: #ffffff;
    font-family: "Museo Sans Cyrl -700";
    font-size: 42px;
    font-weight: 400;
    text-transform: uppercase;
  }
  &__text {
    display: block;
    max-width: 690px;
    margin: 0 0 100px 0;
    color: #fefefe;
    font-family: "Museo Sans Cyrl -300";
    font-size: 20px;
    font-weight: 400;
  }
  &__button {
    display: inline-flex;
    align-items: center;
    position: relative;
    padding: 25px 0 25px 95px;
    background-color: #f5f405;
    color: #1b1a19;
    font-family: "Museo Sans Cyrl -300";
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    line-height: 1.2;
    &-arrow {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 70px;
      height: 70px;
      margin-left: 95px;
      background-color: #1b1a19;
      transition: all 0.2s ease-out;
      img,
      svg {
        max-width: 45px;
        max-height: 45px;
        transition: all 0.2s ease-out;
      }
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      .d-article__button-arrow {
        margin-right: -35px;
      }
      background-color: #f5f405;
      color: #1b1a19;
      text-decoration: none;
    }
  }
}

.d-article-why {
  display: block;
  position: relative;
  padding: 100px 0 20px 0;
  background: url("../images/article_why_bg.jpg") no-repeat right center;
  background-size: cover;
  &__cards {
    display: block;
  }
  &-card {
    display: inline-flex;
    align-items: flex-start;
    position: relative;
    width: 100%;
    max-width: 370px;
    min-height: 48px;
    margin: 0 0 60px;
    padding-left: 80px;
    background: url("../images/check_big.png") no-repeat left top;
    color: #ffffff;
    font-family: "Museo Sans Cyrl -300";
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
    p {
      margin: 0;
      line-height: 1.2;
    }
  }
}

.d-article-prep {
  display: block;
  position: relative;
  padding: 0 0 35px 0;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: inline-block;
    position: relative;
    width: auto;
    margin: 0 0 20px 0;
    padding-right: 12px;
    border-right: 3px solid #f5f405;
    color: #1b1a19;
    font-family: "Museo Sans Cyrl -300";
    font-weight: 400;
    text-transform: uppercase;
  }
  h1 {
    font-size: 42px;
  }
  h2 {
    font-size: 35px;
  }
  h3 {
    font-size: 26px;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 16px;
  }
  h6 {
    font-size: 12px;
  }
  p {
    display: block;
    max-width: 875px;
    margin: 0 0 16px 0;
    color: #1b1a19;
    font-family: "Museo Sans Cyrl -300";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }
  a {
    color: #838383;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover {
      color: #1b1a19;
      text-decoration: none;
    }
  }
  ul {
    display: block;
    margin: 15px 0 30px 0;
    padding: 0;
    list-style: none;
    li {
      display: block;
      position: relative;
      margin: 0 0 12px 0;
      padding-left: 34px;
      color: #1b1a19;
      font-family: "Museo Sans Cyrl -300";
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
      &:before {
        display: block;
        position: absolute;
        content: "";
        left: 17px;
        top: 11px;
        width: 9px;
        height: 3px;
        background-color: #f5f405;
      }
    }
  }
  img {
    max-width: 100%;
    margin: 0 0 20px 0;
  }
  blockquote {
    display: block;
    position: relative;
    width: 100%;
    max-width: 870px;
    margin: 30px 0 130px 0;
    padding: 45px 60px;
    background-color: #f3f3f3;
    color: #525252;
    font-family: "Museo Sans Cyrl -100";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    &:before {
      display: block;
      position: absolute;
      content: "";
      top: -3px;
      left: -3px;
      width: 40px;
      height: 40px;
      background-color: #f5f405;
      z-index: -1;
    }
    &:after {
      display: block;
      position: absolute;
      content: "";
      bottom: -3px;
      right: -3px;
      width: 40px;
      height: 40px;
      background-color: #f5f405;
      z-index: -1;
    }
  }
}

.d-article-main {
  display: block;
  position: relative;
  padding: 65px 0 30px 0;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: inline-block;
    position: relative;
    width: auto;
    margin: 0 0 20px 0;
    padding-right: 12px;
    border-right: 3px solid #f5f405;
    color: #1b1a19;
    font-family: "Museo Sans Cyrl -300";
    font-weight: 400;
    text-transform: uppercase;
  }
  h1 {
    font-size: 42px;
  }
  h2 {
    font-size: 35px;
  }
  h3 {
    font-size: 26px;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 16px;
  }
  h6 {
    font-size: 12px;
  }
  p {
    display: block;
    max-width: 875px;
    margin: 0 0 16px 0;
    color: #1b1a19;
    font-family: "Museo Sans Cyrl -300";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }
  a {
    color: #838383;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover {
      color: #1b1a19;
      text-decoration: none;
    }
  }
  ul {
    display: block;
    margin: 15px 0 30px 0;
    padding: 0;
    list-style: none;
    li {
      display: block;
      position: relative;
      margin: 0 0 12px 0;
      padding-left: 34px;
      color: #1b1a19;
      font-family: "Museo Sans Cyrl -300";
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
      &:before {
        display: block;
        position: absolute;
        content: "";
        left: 17px;
        top: 11px;
        width: 9px;
        height: 3px;
        background-color: #f5f405;
      }
    }
  }
  img {
    max-width: 100%;
    margin: 0 0 20px 0;
  }
  blockquote {
    display: block;
    position: relative;
    width: 100%;
    max-width: 870px;
    margin: 30px 0 130px 0;
    padding: 45px 60px;
    background-color: #f3f3f3;
    color: #525252;
    font-family: "Museo Sans Cyrl -100";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    &:before {
      display: block;
      position: absolute;
      content: "";
      top: -3px;
      left: -3px;
      width: 40px;
      height: 40px;
      background-color: #f5f405;
      z-index: -1;
    }
    &:after {
      display: block;
      position: absolute;
      content: "";
      bottom: -3px;
      right: -3px;
      width: 40px;
      height: 40px;
      background-color: #f5f405;
      z-index: -1;
    }
  }
}

.table {
  margin: 0 0 30px 0;
}
.table td,
.table th {
  padding: 16px 30px;
  border-bottom: 1px solid #b2b2b2;
  color: #1b1a19;
  font-family: "Museo Sans Cyrl -300";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  &:first-child {
    text-align: left;
  }
  &:last-child {
    text-align: right;
  }
}
.table thead th {
  padding: 14px 30px;
  background-color: #181716;
  color: #ffffff;
  font-family: "Museo Sans Cyrl -700";
  font-size: 20px;
  font-weight: 400;
}

.d-done {
  display: block;
  position: relative;
  padding: 80px 0 90px 0;
  background: #181716 url("../images/done_bg.jpg") no-repeat center center;
  .swiper-button-next,
  .swiper-button-prev {
    display: inline-block;
    position: relative;
    width: 45px;
    height: 30px;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    margin: 0 0 0;
    padding: 0;
    outline: none;
    &:before,
    &:after {
      display: none;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  .swiper-button-next {
    margin-bottom: -6px;
    margin-left: 45px;
    background: url("../images/icon_arrow_big_wight.png") no-repeat center center;
    background-size: contain;
  }
  .swiper-button-prev {
    margin-bottom: -6px;
    margin-left: 85px;
    background: url("../images/icon_arrow_big_left.png") no-repeat center center;
    background-size: contain;
  }
  &__title {
    display: inline-block;
    position: relative;
    width: auto;
    margin: 0;
    padding-right: 12px;
    border-right: 3px solid #f5f405;
    color: #ffffff;
    font-family: "Museo Sans Cyrl -300";
    font-size: 35px;
    font-weight: 400;
    text-transform: uppercase;
  }
  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-bottom: 50px;
  }
  &__button {
    display: inline-block;
    padding: 8px 42px;
    background-color: #f5f405;
    color: #1b1a19;
    font-family: "Museo Sans Cyrl -300";
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background-color: #fffe57;
      color: #1b1a19;
      text-decoration: none;
    }
  }
  &__cards {
    display: block;
    position: relative;
  }
}

.d-item {
  display: block;
  position: relative;
  &__info {
    display: block;
    margin: 23px 0 0 0;
    &-title {
      display: block;
      margin: 0 0 3px 0;
      opacity: 0.5;
      color: #1b1a19;
      font-family: "Museo Sans Cyrl -300";
      font-size: 14px;
      font-weight: 400;
    }
    &-text {
      display: block;
      margin: 0;
      color: #1b1a19;
      font-family: "Museo Sans Cyrl -300";
      font-size: 16px;
      font-weight: 400;
    }
  }
  &__link {
    display: flex;
    align-items: center;
    margin: 30px 0 45px 0;
    img,
    svg {
      max-width: 30px;
      max-height: 30px;
      margin-right: 10px;
    }
    span {
      color: #1b1a19;
      font-family: "Museo Sans Cyrl -500";
      font-size: 16px;
      font-weight: 400;
      text-decoration: underline;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      span {
        color: #1b1a19;
        text-decoration: none;
      }
      text-decoration: none;
    }
  }
  &__button {
    display: inline-block;
    padding: 23px 32px;
    background-color: #f5f405;
    color: #1b1a19;
    font-family: "Museo Sans Cyrl -300";
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background-color: #fffe57;
      color: #1b1a19;
      text-decoration: none;
    }
  }
  &__image {
    display: block;
    width: 100%;
    min-height: 500px;
    background-position: center center;
    background-size: cover;
  }
}

.d-item-aside {
  display: block;
  position: relative;
  width: calc(100% + 30px);
  max-width: 400px;
  min-height: 420px;
  padding: 45px 50px;
  background-color: #1b1a19;
  &__title {
    display: block;
    margin: 0 0 36px 0;
    color: #ffffff;
    font-family: "Museo Sans Cyrl -700";
    font-size: 20px;
    font-weight: 400;
  }
  &__link {
    display: block;
    margin: 0 0 20px 0;
    color: #ffffff;
    font-family: "Museo Sans Cyrl -300";
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover {
      color: #f5f405;
      text-decoration: none;
    }
  }
}

.d-item-description {
  display: block;
  position: relative;
  padding: 45px 0 30px 70px;
  &__title {
    display: block;
    margin: 0 0 36px 0;
    color: #252425;
    font-family: "Museo Sans Cyrl -700";
    font-size: 20px;
    font-weight: 400;
  }
  p {
    display: block;
    margin: 0 0 12px 0;
    color: #1b1a19;
    font-family: "Museo Sans Cyrl -300";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }
}

.d-gallery {
  display: block;
  position: relative;
  padding: 30px 0 0 0;
  background-color: #ececec;
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 270px;
    margin: 0 auto 30px auto;
    &__content {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      height: 270px;
      background-color: rgba(27, 26, 25, 0.8);
      opacity: 0;
      transition: all 0.2s ease-out;
      img,
      svg {
        max-width: 30px;
        max-height: 30px;
      }
    }
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover {
      .d-gallery-card__content {
        opacity: 1;
      }
      text-decoration: none;
    }
  }
}

.d-video {
  display: block;
  position: relative;
  padding: 75px 0 95px 0;
  background: #1b1a19 url("../images/video_bg.jpg") no-repeat center center;
  background-size: cover;
  &__title {
    display: inline-block;
    position: relative;
    width: auto;
    margin: 0 0 40px 0;
    padding-right: 12px;
    border-right: 3px solid #f5f405;
    color: #ffffff;
    font-family: "Museo Sans Cyrl -300";
    font-size: 35px;
    font-weight: 400;
    text-transform: uppercase;
  }
  &__cards {
    display: block;
    position: relative;
  }
  &-card {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 800px;
    height: 450px;
    img,
    svg {
      max-width: 150px;
      max-height: 150px;
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      img,
      svg {
        transform: scale(0.8);
      }
      text-decoration: none;
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 149px;
    height: 149px;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    margin: 0 0 0 20px;
    padding: 0;
    outline: none;
    border: 1px solid #f5f405;
    background-color: transparent;
    outline: none;
    img,
    svg {
      max-width: 45px;
      max-height: 45px;
    }
    &:before,
    &:after {
      display: none;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background-color: #f5f405;
      text-decoration: none;
      img,
      svg {
        filter: brightness(0);
      }
    }
  }
  .swiper-button-next {
    margin-bottom: 30px;
  }
  .swiper-button-prev {
    margin-bottom: 30px;
  }
  .swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    margin: 0 0 0 10px;
    border: 1px solid #f5f405;
    border-radius: 0;
    background-color: transparent;
    opacity: 1;
  }
  .swiper-pagination-bullet-active {
    background-color: #f5f405;
  }
  .swiper-pagination {
    right: 15px;
    bottom: 0;
    text-align: right;
  }
}

.d-good {
  display: block;
  position: relative;
  &__content {
    display: block;
    position: relative;
    width: calc(100% + 30px);
    margin-left: -30px;
    padding: 35px 40px 40px 40px;
    background-color: #646464;
  }
  &__title {
    display: inline-block;
    position: relative;
    width: auto;
    margin: 0 0 19px 0;
    padding-right: 12px;
    border-right: 3px solid #f5f405;
    color: #ffffff;
    font-family: "Museo Sans Cyrl -300";
    font-size: 35px;
    font-weight: 400;
    text-transform: uppercase;
  }
  &__subtitle {
    display: block;
    margin: 20px 0 0 0;
    opacity: 0.5;
    color: #ffffff;
    font-family: "Museo Sans Cyrl -300";
    font-size: 14px;
    font-weight: 400;
  }
  &__info {
    display: block;
    margin: 0;
    color: #ffffff;
    font-family: "Museo Sans Cyrl -300";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
  }
  &__price {
    display: block;
    margin: 0;
    color: #ffffff;
    font-family: "Museo Sans Cyrl -300";
    font-size: 35px;
    font-weight: 400;
    line-height: 1.2;
    b,
    strong {
      font-family: "Museo Sans Cyrl -300";
      font-size: 35px;
      font-weight: 400;
      color: #f5f405;
    }
  }
  &__button {
    display: block;
    margin: 45px 0 0 0;
    padding: 24px 12px;
    background-color: #f5f405;
    color: #1b1a19;
    font-family: "Museo Sans Cyrl -300";
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #fffe57;
      color: #1b1a19;
      text-decoration: none;
    }
  }
  &__link {
    display: block;
    width: calc(100% + 10px);
    margin: 45px 0 0 -10px;
    padding: 23px 12px;
    border: 1px solid #f5f405;
    background-color: transparent;
    color: #ffffff;
    font-family: "Museo Sans Cyrl -300";
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #f5f405;
      color: #1b1a19;
      text-decoration: none;
    }
  }
  &__wrap {
    display: flex;
    align-items: stretch;
  }
}

.d-good-top {
  display: block;
  position: relative;
  width: 100%;
  max-width: 470px;
  .swiper-slide {
    width: 100%;
    height: 500px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.2s ease-out;
  }
}

.d-good-thumbs {
  display: block;
  position: relative;
  width: 100%;
  max-width: 100px;
  height: 500px;
  padding-top: 1px;
  .swiper-slide {
    width: 100%;
    height: 98px;
    margin-top: -1px;
    border: 1px solid #ececec;
    opacity: 0.5;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: all 0.2s ease-out;
    &:hover {
      .d-home-projects__preview {
        opacity: 1;
      }
    }
  }
  .swiper-slide-thumb-active {
    opacity: 1;
  }
}

.d-good-info {
  display: block;
  position: relative;
  padding: 40px 0;
  background-color: #f4f4f4;
}

.table td,
.table th {
  border-top: 0;
}

.d-tabs {
  display: block;
  position: relative;
  width: 100%;
  padding: 0;

  &__header {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #1b1a19;
    list-style: none;
    li {
      display: inline-block;
      margin-right: 30px;
      margin-bottom: -2px;
      padding: 11px 0;
      border-bottom: 3px solid transparent;
      opacity: 0.5;
      color: #1b1a19;
      font-family: "Museo Sans Cyrl -300";
      font-size: 20px;
      font-weight: 400;
      text-transform: uppercase;
      &.current {
        border-color: #1b1a19;
        opacity: 1;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        text-decoration: none;
      }
    }
  }
  &__title {
    display: block;
    margin: 0 0 25px 0;
    color: #1b1a19;
    font-family: "Museo Sans Cyrl -700";
    font-size: 20px;
    font-weight: 400;
  }
  &__content {
    display: none;
    position: relative;
    width: 100%;
    padding: 50px 0 1px 0;
    background-color: transparent;
    color: #1b1a19;
    font-family: "Museo Sans Cyrl -300";
    font-size: 16px;
    font-weight: 400;
    p {
      display: block;
      margin: 0 0 20px 0;
      color: #1b1a19;
      font-family: "Museo Sans Cyrl -300";
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }
    &.current {
      display: block;
    }
  }
}

.d-more {
  display: block;
  position: relative;
  width: 100%;
  padding: 90px 0 125px 0;
  &__content {
    display: block;
    position: relative;
    width: 100%;
    max-width: 270px;
    padding: 36px 40px 286px 40px;
    background-color: #1b1a19;
  }
  &__title {
    display: block;
    margin: 0 0 20px 0;
    color: #ffffff;
    font-family: "Museo Sans Cyrl -700";
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
  }
  &__link {
    display: inline-block;
    color: #f5f405;
    font-family: "Museo Sans Cyrl -300";
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover {
      color: #f5f405;
      text-decoration: none;
    }
  }
  &__cards {
    display: block;
    position: relative;
    width: calc(100% + 30px);
    margin-left: -30px;
    padding-left: 1px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 135px;
    height: 135px;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    margin: 0;
    padding: 0;
    outline: none;
    border: 0;
    background-color: transparent;
    outline: none;
    img,
    svg {
      max-width: 45px;
      max-height: 45px;
      transition: all 0.2s ease-out;
    }
    &:before,
    &:after {
      display: none;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      text-decoration: none;
      img,
      svg {
        transform: scale(0.8);
      }
    }
  }
  .swiper-button-next {
    bottom: 0;
    right: 0;
    background-color: #393837;
  }
  .swiper-button-prev {
    bottom: 0;
    left: 0;
    background-color: #272625;
  }
  .d-catalog-card {
    margin: 0;
    border-left: 0;
  }
}

.d-contacts {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  &__content {
    display: block;
    position: relative;
    min-width: calc((100vw - 1200px) / 2 + 405px);
    padding: 55px 15px 45px calc((100vw - 1200px) / 2);
    background: url("../images/contacts_bg.jpg") no-repeat center center;
    background-size: cover;
  }
  &__title {
    display: inline-block;
    position: relative;
    width: auto;
    margin: 0 0 35px 0;
    padding-right: 12px;
    border-right: 3px solid #f5f405;
    color: #ffffff;
    font-family: "Museo Sans Cyrl -300";
    font-size: 35px;
    font-weight: 400;
    text-transform: uppercase;
  }
  &__phone {
    display: block;
    margin: 0 0 10px 0;
    color: #f5f405;
    font-family: "Museo Sans Cyrl -300";
    font-size: 30px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__info {
    display: block;
    position: relative;
    margin: 32px 0 0 0;
    padding-left: 40px;
    img,
    svg {
      position: absolute;
      bottom: 4px;
      left: 0;
      max-width: 20px;
      max-height: 20px;
    }
    a {
      display: inline-block;
      position: relative;
      color: #f5f405;
      font-family: "Museo Sans Cyrl -100";
      font-size: 20px;
      font-weight: 400;
      line-height: 1.2;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;
      &:hover {
        color: #f5f405;
        text-decoration: none;
      }
    }
  }
  &__subtitle {
    display: block;
    margin: 0;
    opacity: 0.5;
    color: #ffffff;
    font-family: "Museo Sans Cyrl -100";
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
  }
  &__text {
    display: block;
    margin: 0;
    color: #ffffff;
    font-family: "Museo Sans Cyrl -100";
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
    sup {
      font-size: 13px;
    }
  }
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 1;
  img,
  svg {
    opacity: 0.5;
  }
}

#map {
  display: block;
  position: relative;
  width: 100%;
  max-width: 100%;
  min-height: 100%;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1449px) {
  #myVideo {
    width: 150%;
  }
  .d-footer {
    background: #1b1a19 url(../images/icon_footer_bg.png) no-repeat right -250px center;
  }
}

@media (max-width: 1199px) {
  #myVideo {
    display: none;
  }
  .d-top {
    background: url("../images/top_bg.jpg") no-repeat center center;
    background-size: cover;
  }
  .d-top__content:before {
    display: none;
  }
  .d-top__content:after {
    display: none;
  }
  .d-nav {
    border-bottom: 1px solid #353535;
    background-color: rgba(27, 26, 25, 0.7);
  }
  .d-top__cards {
    margin: 0;
  }
  .d-top-card__content {
    height: 400px;
    margin: 0;
    padding: 30px 20px;
  }
  .d-top-card__title {
    height: 108px;
    overflow: hidden;
    font-size: 30px;
  }
  .d-top-card__text {
    height: 108px;
    overflow: hidden;
    font-size: 18px;
  }
  .d-top-card__button {
    padding: 0 0 0 20px;
  }
  .d-top-card__button-arrow {
    margin-left: 20px;
  }
  .d-top__content {
    min-height: auto;
  }
  .d-top__numbers {
    left: 20px;
    bottom: 15px;
  }
  .d-top .swiper-container-horizontal > .swiper-pagination-bullets,
  .d-top .swiper-pagination-custom,
  .d-top .swiper-pagination-fraction {
    display: none;
  }
  .d-nav__menu-dropper:hover .d-nav__menu-drop {
    display: none;
  }
  .d-modal__content {
    padding: 50px 20px 20px 20px;
  }
  .d-modal__info {
    margin: 5px 0 5px 0;
    text-align: center;
  }
  .d-what__image {
    width: 100%;
    min-height: auto;
    height: 300px;
    margin: 0;
  }
  .d-what__content {
    padding: 30px 0;
  }
  .d-what__title {
    margin-bottom: 20px;
  }
  .d-why__cards {
    padding: 30px 15px;
  }
  .d-why-card {
    margin-bottom: 30px;
  }
  .d-home-services__cards {
    justify-content: center;
  }
  .d-home-services-card {
    max-width: 240px;
    min-height: 240px;
  }
  .d-home-services-card__image {
    width: 120px;
    height: 120px;
  }
  .d-home-projects {
    padding: 30px 0;
  }
  .d-home-projects__title {
    margin-bottom: 20px;
  }
  .d-home-projects-card__subtitle {
    margin-top: 10px;
  }
  .d-home-projects-card__link {
    margin: 10px 0;
  }
  .d-home-projects-card__content {
    min-height: 410px;
    padding: 30px 40px;
  }
  .d-home-projects-card__title:before {
    left: -30px;
  }
  .d-gallery-top .swiper-slide {
    height: 300px;
  }
  .d-home-projects .swiper-button-next {
    display: inline-flex;
    width: 100px;
    height: 100px;
    margin: 0;
    order: 3;
  }
  .d-home-projects .swiper-button-prev {
    display: inline-flex;
    width: 100px;
    height: 100px;
    margin: 0;
    order: 1;
  }
  .d-home-projects__button {
    flex: 1 1 auto;
    margin: 0;
    order: 2;
  }
  .d-home-projects__flex {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
  }
  .d-clients {
    padding: 30px 0;
  }
  .d-clients__title {
    margin-bottom: 20px;
  }
  .d-steps__title {
    margin-bottom: 20px;
  }
  .d-steps__cards {
    justify-content: center;
  }
  .d-try__content {
    padding: 30px 0;
  }
  .d-try__image {
    width: 100%;
    min-height: auto;
    height: 300px;
    margin: 0;
  }
  .d-try__text {
    margin-bottom: 20px;
  }
  .d-try__info {
    margin: 5px 0;
    text-align: center;
  }
  .d-try__input {
    margin-bottom: 20px;
  }
  .d-home-catalog {
    padding: 30px 0;
  }
  .d-home-catalog-card_long {
    flex: 0 0 291px;
  }
  .d-home-catalog-card_long .d-home-catalog-card__title {
    font-size: 20px;
  }
  .d-home-catalog-card_big {
    flex: 0 0 291px;
    height: 291px;
  }
  .d-home-catalog-card_big .d-home-catalog-card__title {
    font-size: 20px;
  }
  .d-home-catalog__cards {
    justify-content: center;
  }
  .d-home-catalog_help {
    justify-content: center;
  }
  .d-home-catalog__title {
    margin-bottom: 20px;
  }
  .d-wow__title {
    margin-bottom: 20px;
  }
  .d-wow-info {
    margin-bottom: 20px;
  }
  .d-wow__cards {
    justify-content: space-around;
    width: 100%;
    min-height: auto;
    height: auto;
    margin: 0;
    padding: 30px 15px;
  }
  .d-wow-card {
    margin-bottom: 30px;
  }
  .d-home-seo__content {
    padding: 30px;
  }
  .d-footer {
    padding: 30px 0;
    background: #1b1a19;
  }
  .d-footer__logo {
    margin-bottom: 20px;
  }
  .d-footer__call {
    margin-bottom: 20px;
  }
  .d-footer_bordered {
    padding-left: 15px;
    border: 0;
    &:before {
      display: none;
    }
  }
  .d-footer_border {
    &:before {
      display: none;
    }
  }
  .d-footer__title {
    margin: 20px 0 10px 0;
  }
  .d-bottom > .container {
    justify-content: space-around;
  }
  .d-bottom__policy {
    margin: 5px;
  }
  .d-bottom__creators {
    margin: 5px;
  }
  .d-bottom__policy {
    margin: 5px;
  }
  .d-bottom__social {
    margin: 5px;
  }
  .d-nav__menu > li > a {
    margin: 0;
    padding: 6px;
  }
  .d-nav__menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
  }
  .d-top-card__title {
    font-size: 23px;
  }
  .d-what__title {
    font-size: 48px;
    &:before {
      left: 40px;
      top: 21px;
    }
  }
  .d-steps__title {
    font-size: 28px;
  }
  .d-wow__title {
    font-size: 25px;
  }
  .d-breadcrumps {
    padding: 20px 0;
  }
  .d-page-title {
    margin-bottom: 20px;
    font-size: 30px;
  }
  .d-page-projects__tags li a {
    margin: 0 5px 5px 0;
    padding: 8px;
    font-size: 13px;
  }
  .d-page-projects__tags {
    padding-bottom: 20px;
  }
  .d-page-projects-card {
    margin-bottom: 10px;
  }
  .d-page-projects-card__content {
    min-height: 250px;
  }
  .d-pagination li a {
    margin: 0 2px 2px 2px;
  }
  .d-get {
    padding: 30px 0;
  }
  .d-get__text {
    margin-bottom: 20px;
  }
  .d-get__row {
    justify-content: space-around;
    text-align: center;
  }
  .d-get__button {
    margin: 10px 0;
  }
  .d-header__wrap .d-nav:before {
    display: none;
  }
  .d-pagination_margin {
    padding: 20px 0;
  }
  .d-catalog__aside {
    margin: 0 auto;
  }
  .d-catalog__cards {
    justify-content: center;
    width: 100%;
    margin: 0;
  }
  .d-wow_page {
    padding-top: 30px;
  }
  .d-about__image {
    margin: 20px auto 0 auto;
  }
  .d-about__content {
    padding: 30px 20px;
  }
  .d-about__who {
    margin-bottom: 20px;
  }
  .d-about__from {
    margin-bottom: 20px;
  }
  .d-why__info {
    width: 100%;
    margin: 0;
    padding: 30px 20px;
  }
  .d-why__info {
    position: relative;
  }
  .d-why-info {
    margin-bottom: 30px;
  }
  .d-why_bordered:after {
    display: none;
  }
  .d-why_reverse .d-why__info {
    width: 100%;
    margin: 0;
    padding: 30px 20px;
  }
  .d-why_reverse .d-why__cards {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 30px 20px;
  }
  .d-papers-card {
    margin: 0 auto;
  }
  .d-papers {
    padding: 30px 0 20px 0;
  }
  .d-papers-card__icon {
    width: 100px;
    img,
    svg {
      max-width: 40px;
    }
  }
  .d-article__button {
    padding: 0 0 0 20px;
  }
  .d-article__button-arrow {
    margin-left: 20px;
  }
  .d-article__content {
    padding: 30px 0;
  }
  .d-article__text {
    margin-bottom: 30px;
  }
  .d-article-why {
    padding: 30px 0;
  }
  .d-article-why-card {
    margin-bottom: 20px;
  }
  .d-article-main {
    padding: 30px 0;
  }
  .d-article-main blockquote {
    margin: 20px 0;
    padding: 30px 20px;
  }
  .d-done {
    padding: 30px 0;
  }
  .d-done__button {
    width: 100%;
    margin: 20px 0;
  }
  .d-done .swiper-button-prev {
    margin: 0;
  }
  .d-done .swiper-button-next {
    margin: 0 0 0 50px;
  }
  .d-item__image {
    min-height: 300px;
  }
  .d-item-aside {
    width: 100%;
    min-height: auto;
    padding: 30px 20px;
  }
  .d-item-description {
    padding: 30px 20px;
  }
  .d-item-description__title {
    margin-bottom: 20px;
  }
  .d-video {
    padding: 30px 0;
  }
  .d-video-card {
    height: 300px;
  }
  .d-video .swiper-button-next,
  .d-video .swiper-button-prev {
    display: inline-flex;
    width: 100px;
    height: 100px;
    margin: 10px 10px 10px 0;
  }
  .d-video_order {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
  }
  .swiper-button-prev {
    order: 1;
  }
  .swiper-button-next {
    order: 2;
  }
  .d-item__info {
    margin: 10px 0 0 0;
  }
  .d-item__link {
    margin: 15px 0;
  }
  .d-item__button {
    margin-bottom: 15px;
  }
  .d-good-thumbs {
    max-width: 70px;
    height: 350px;
  }
  .d-good-thumbs .swiper-slide {
    height: 70px;
  }
  .d-good-top {
    height: 350px;
  }
  .d-good-top .swiper-slide {
    height: 350px;
  }
  .d-good__content {
    width: 100%;
    margin: 0;
    padding: 30px 20px;
  }
  .d-good__title {
    font-size: 32px;
  }
  .d-good__button {
    width: 100%;
    margin: 10px 0 0 0;
  }
  .d-good__link {
    width: 100%;
    margin: 10px 0 0 0;
  }
  .d-good-info {
    padding: 30px 0;
  }
  .table thead th {
    padding: 14px 8px;
  }
  .table td,
  .table th {
    padding: 14px 8px;
  }
  .d-tabs__content {
    padding-top: 20px;
  }
  .d-tabs__header {
    justify-content: center;
    text-align: center;
  }
  .d-tabs__header li {
    margin: 0 10px;
    padding: 6px 0;
  }
  .d-tabs__title {
    margin-bottom: 15px;
  }
  .d-papers__title {
    font-size: 32px;
  }
  .d-more {
    padding: 30px 0;
  }
  .d-more__content {
    margin: 0 auto;
    padding: 30px 20px 200px 20px;
  }
  .d-more .d-catalog-card {
    margin: 0 auto;
    border: 1px solid #ececec;
  }
  .d-more__cards {
    width: 100%;
    margin: 0;
  }
  .d-contacts {
    flex-flow: column nowrap;
  }
  .d-contacts__content {
    width: 100%;
    padding: 30px 15px;
  }
  .d-get__title {
    text-align: center;
  }
  #map {
    width: 100%;
    height: 400px;
  }
  .d-ghost {
    display: block;
    position: relative;
    left: auto;
    right: auto;
    bottom: auto;
    top: auto;
    width: 100%;
    height: auto;
    margin: 10px 15px 20px 15px;
    text-align: center;
    writing-mode: inherit;
    text-orientation: inherit;
    transform: none;
  }
  .d-clients-card {
    display: flex;
    margin: 0 auto;
  }
}
